<form method="post" enctype="multipart/form-data" action="<%= url_for :action => 'import_antrag' %>" >
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	Anträge importiren
	<input name="json" type="file" >
	<input type="submit" />
	<br />
	<span style="color: red;">Achtung: Der Import verbraucht viele Recurcen auf dem Server <u>und</u> bei den Browsern.</span>
</form>