<div class="container">
		<div class="content">
			<div class="row">
				<div class="login-form">
					<h2>Login</h2>
					<span style="color: red"><%= @error%></span>
					<form method="post">
						<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
						<fieldset>
							<div class="clearfix">
								<input name=name type="text" placeholder="Username">
							</div>
							<div class="clearfix">
								<input name=password type="password" placeholder="Passwort">
							</div>
							<button class="btn primary" type="submit">Sign in</button>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div> <!-- /container -->