<form style="float: left;" method="post" action="<%= url_for projector %>">
	<a class="btn" href="#" onclick=" $(this).closest('form').submit();"><i class="icon-<%= icon %>"></i></a>
	<% data.each { |k,v| %>
	<input type=hidden name="command[<%=k%>]" value="<%=v%>" />
	<% } %>
</form>