    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">V-Tool</a>
          <form class="navbar-search pull-right" action="<%= url_for :controller => "slides", :action => "index" %>">
			  <input type="text" class="search-query span2" placeholder="Suchen" name="search">
		  </form>
		  <p class="navbar-text pull-right" id="menu-state" style="color: red; text-decoration: blink;">
              <noscript>Javascript wird benötigt!</noscript> 
          </p>
          <div class="nav-collapse collapse">
            <ul class="nav">
            <%[
            	{:text => "Home", :controller => "home", :action => "index"},
            	{:text => "Tagesordnung", :controller => "items", :action => "index"},
            	{:text => "Beamer", :controller => "projectors", :action => "index"},
            	{:text => "Folien", :controller => "slides", :action => "index"},
            	{:text => "Debugger", :controller => "home", :action => "debug"},
            ].each { |e| %> 
            		<li<%= ' class="active"'.html_safe if controller.controller_name == e[:controller] and (controller.action_name == e[:action] or controller.controller_name != "home") %>><%= link_to e[:text], :controller => e[:controller], :action => e[:action] %></li>
            	<% }
            %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

  <% if @load_push then %>
  <script type="text/javascript" charset="utf-8">
	document.getElementById("menu-state").innerHTML= "Verbinde . . . ";
	window.setTimeout('CheckVerbindung()',3000);
	push.on("connect", function(){	document.getElementById("menu-state").innerHTML= "";});
	push.on("disconnect", function(){document.getElementById("menu-state").innerHTML= "Verbindung verloren";});
	push.on("reconnect", function(){ document.getElementById("menu-state").innerHTML= "";});
  </script>	
  <% end %>