<div style="width: 25em;
padding: 0 4em;
margin: 4em auto 0 auto;
border: 1px solid #ccc;
border-right-color: #999;
border-bottom-color: #999;">
	<h1 style="text-align: center;">Fehler <%= @error%></h1>
	<p>
		<% case @error
		when 404 %>
		Die angeforderte Seite konnte nicht gefunden werden.
		<% when 422 %>
		Ihre Anfrage wurde abgelehnt.
		<% when 500 %>
		Ihre Anfrage hat eine internen Fehler verursacht.
		<% else %>
		Unbekanter Fehler
		<% end %>
	</p>
</div>