<h1>Willkommen im Versammlungs-Tool</h1>
<div style="font-size: 1.2em;">
	Bedienungsanleitungen und Spezifikationen für die Import-Schnittstelle liegen im Ordner „doc“.<br />
	<br />
	Die Versammlungsleitung und die Beamer benötigen einen modernen Browser und JavaScript.<br />
	Für die Versammlung reicht ein halbwegs moderner Browser aus.<br />
	<br />
	Diese Seite wird automatisch durch die erste Folie mit dem Namen „HOME“ ersetzt.<br />
</div>
