<h1>Tagesordnung</h1>

<div style="<%= 'margin-left: 50px; position: relative;' if @write_right %> ">
<%= render "list", :agendas => @agendas %>
</div>
<% if @write_right then %>
<br />
<%= link_to 'Neuer Tagesordnungspunkt', new_agenda_path %>
<% end %>
