<h1>Gruppen</h1>

<div style="<%= 'margin-left: 50px; position: relative;' if @write_right %> ">
<%= render "list", :items => @items %>
</div>
<% if @write_right then %>
<br />
<%= link_to 'Neue Gruppe', new_item_path %>
<% end %>
