.antag_info {
    width:30%;
    float:right; 
    clear:right;
    background:#f7f7f7;
    border:2px solid #ccc;
    position: fixed;
    right: 30px;
    top:130px;
    border-radius: 10px;
}

.antag_info th {
  text-align:left;
  font-size: 13px;
}

.antag_info td {
  text-align:left;
  font-size: 13px;
}

.antrag_info_head {
  text-align:center; 
  background:#ddd;
  border:2px solid #ccc;
  font-size: 52px;
  height: 40px;
  border-radius: 10px;
  padding-bottom: 20px;
}

.antrag_body {
  width:65%;
}

#slides > div > div.antag_info {
    position: static;
    right: 0px;
    top: 0px;
}
#slides > div > div.antrag_body {
	width:100%;
}