  <div style="width: 25em;
      padding: 0 4em;
      margin: 4em auto 0 auto;
      border: 1px solid #ccc;
      border-right-color: #999;
      border-bottom-color: #999;">
    <h1 style="text-align: center;">Access denied</h1>
    <p>Für diese Aktion haben Sie nicht die benötigten Rechte</p>
    <p><br /></p>
    <p>Wenden Sie sich an den Adminstrator wenn Sie meinen dass das ein Fehler ist</p>
  </div>